/* trivy styles */

//aqua brand colors
$aq-royal-blue: #1904da;
$aq-legacy-blue: #08b1d5;
$aq-coral-red: #ff445f;
$aq-starfish-yellow: #ffc900;
$aq-dark-abyss: #07242d;
$aq-blue-abyss: #031730;
$aq-deep-sea-blue: #183278;
$aq-ocean-ash: #405a75;
// $aq-sea-foam: #00ffe4;
$aq-neon-blue: #50f0ff;

$aq-neo-background: #ebf3fa;
$aq-neo-background-hover: #f0f8ff;


$aq-royal-blue-dark: #1503ba;

$aq-trivy-dark: #0a0b23;

$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 700;



$gap: 32px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px;

// 960px container + 4rem
$desktop: 960px + 2 * $gap;

// 1152px container + 4rem
$widescreen: 1152px + 2 * $gap;
$widescreen-enabled: true;

// 1344px container + 4rem
$fullhd: 1344px + 2 * $gap;
$fullhd-enabled: true;



body {

	font-family: "Inter", sans-serif;
}


.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1440px;

	&.is-relative {
		position: relative;
	}

	@media screen and (max-width: $tablet), print { //769
		padding: 0 24px;
		max-width: calc( 100% - 48px); //$tablet; //769
	} //until tablet

}


.generic_title {
	font-size: 28px; //1.75rem
	font-weight: $weight-bold;
	margin: 12px; //0.75rem
	color: $aq-royal-blue;
}

.generic_subtitle {
	font-size: 18px; //1.125rem
	opacity: 0.8;
	margin: 12px; //0.75rem
}


	.section_title {
		color: #ffffff; //$aq-neon-blue;
		font-size: 48px; //3rem
		font-weight: $weight-bold;
		margin-bottom: 24px; //1.5rem
		line-height: 1.2;

		&.is_smaller {
			font-size: 40px; //2.5rem
		}
	}

	.section_subtitle  {
		color: #ffffff;
		font-size: 26px; //1.625rem
		margin-bottom: 24px; //1.5rem
	}


	@media screen and (max-width: $tablet) {

		.section_title, .section_title.is_smaller {
			font-size: 32px; //2rem
		}
		.section_subtitle {
			font-size: 18px; //1.125rem
		}

	} //until


.button {

	background-color: #ebf3fa;
	border: 1px solid #dbdbdb;
	border-width: 1px;
	color: #363636;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(.5em - 1px);
	padding-left: 1em;
	padding-right: 1em;
	padding-top: calc(.5em - 1px);
	text-align: center;
	white-space: nowrap;
	border-radius: 4px;
	transition: all .2s ease;
	font-size: 16px;
	display: inline-block;
	font-weight: 700;
	
	&.is-seafoam {
		background-color: $aq-neon-blue;
		border-color: $aq-neon-blue;
		color: $aq-blue-abyss;


		&.is-outlined {
			background-color: rgba(0,0,0,0);
			border-color: $aq-neon-blue;
			color: $aq-neon-blue;
			border-width: 2px;

			&:hover {
				background-color: $aq-neon-blue;
				color: $aq-blue-abyss;
			}
		} //is-outlines
		
	} //is-seafoam

	&.large_btn {
		font-size: 22px;
		padding: 16px 27px;
		margin-right: 12px;

		@media screen and (max-width: $tablet), print {
			font-size: 18px;
		} //until tablet
	}
	


	&.solidseafoamarrowbutton {
		
		background-color: $aq-neon-blue;
		font-weight: 700;
		border: 2px solid $aq-neon-blue;
		font-size: 22px; //1.375rem
		padding: 16px 27px;
		color: $aq-blue-abyss;


		&:after {
				content: "";
				border: solid $aq-blue-abyss;
				border-width: 0 2px 2px 0;
				display: inline-block;
				padding: 4px;
				transform: rotate(-45deg);
				margin-left: 30px;
				vertical-align: middle;
				transition: all .2s;
		}
	} //solidseafoamarrowbutton

} //button

.margin-bottom-20 {
	margin-bottom: 20px;
}


@import "_slick_slider";
@import "_glass_v2";
@import "_hubspot_form";

@import "_trivy_homepage";
@import "_trivy_partners";
