# Global
*   @knqyf263

# SBOM/Vulnerability scanning
pkg/dependency/  @knqyf263 @DmitriyLewen
pkg/fanal/       @knqyf263 @DmitriyLewen
pkg/sbom/        @knqyf263 @DmitriyLewen
pkg/scanner/     @knqyf263 @DmitriyLewen

# Misconfiguration scanning
docs/guide/scanner/misconfiguration/  @simar7 @nikpivkin
docs/guide/target/aws.md              @simar7 @nikpivkin
pkg/fanal/analyzer/config/            @simar7 @nikpivkin
pkg/config/aws/                       @simar7 @nikpivkin
pkg/iac/                              @simar7 @nikpivkin

# Helm chart
helm/trivy/ @afdesk @simar7

# Kubernetes scanning
pkg/k8s/                         @afdesk @simar7
docs/guide/target/kubernetes.md   @afdesk @simar7
