* text=auto eol=lf 
pkg/dependency/parser/dotnet/core_deps/testdata/multi-project/Web.deps.json linguist-generated=true
pkg/dependency/parser/dotnet/core_deps/testdata/multi-project/**/*.cs linguist-generated=true
pkg/dependency/parser/dotnet/core_deps/testdata/multi-project/**/*.csproj linguist-generated=true
