/* trivy styles */
body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}
.container.is-relative {
  position: relative;
}
@media screen and (max-width: 769px), print {
  .container {
    padding: 0 24px;
    max-width: calc(100% - 48px);
  }
}

.generic_title {
  font-size: 28px;
  font-weight: 700;
  margin: 12px;
  color: #1904da;
}

.generic_subtitle {
  font-size: 18px;
  opacity: 0.8;
  margin: 12px;
}

.section_title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.2;
}
.section_title.is_smaller {
  font-size: 40px;
}

.section_subtitle {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 24px;
}

@media screen and (max-width: 769px) {
  .section_title, .section_title.is_smaller {
    font-size: 32px;
  }
  .section_subtitle {
    font-size: 18px;
  }
}
.button {
  background-color: #ebf3fa;
  border: 1px solid #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  transition: all 0.2s ease;
  font-size: 16px;
  display: inline-block;
  font-weight: 700;
}
.button.is-seafoam {
  background-color: #50f0ff;
  border-color: #50f0ff;
  color: #031730;
}
.button.is-seafoam.is-outlined {
  background-color: rgba(0, 0, 0, 0);
  border-color: #50f0ff;
  color: #50f0ff;
  border-width: 2px;
}
.button.is-seafoam.is-outlined:hover {
  background-color: #50f0ff;
  color: #031730;
}
.button.large_btn {
  font-size: 22px;
  padding: 16px 27px;
  margin-right: 12px;
}
@media screen and (max-width: 769px), print {
  .button.large_btn {
    font-size: 18px;
  }
}
.button.solidseafoamarrowbutton {
  background-color: #50f0ff;
  font-weight: 700;
  border: 2px solid #50f0ff;
  font-size: 22px;
  padding: 16px 27px;
  color: #031730;
}
.button.solidseafoamarrowbutton:after {
  content: "";
  border: solid #031730;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  margin-left: 30px;
  vertical-align: middle;
  transition: all 0.2s;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide:focus {
  outline: none;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  display: block;
  background-color: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0px;
  height: 330px;
  width: 80px;
  z-index: 20;
  outline: none;
}

.slick-arrow:focus, .slick-arrow:active {
  outline: none;
}

.slick-arrow.slick-prev {
  left: 0px;
  background-image: linear-gradient(to right, #ebf3fa 0%, rgba(235, 243, 250, 0) 100%);
}

.slick-arrow.slick-next {
  right: 0px;
  background-image: linear-gradient(to left, #ebf3fa 0%, rgba(235, 243, 250, 0) 100%);
}

.slick-arrow:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 21;
  background-repeat: no-repeat;
}

.slick-arrow.slick-prev:before {
  background-image: url(../images/arrow_left.png);
  background-position: center left;
}

.slick-arrow.slick-next:before {
  background-image: url(../images/arrow_right.png);
  background-position: center right;
}

/* dots */
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0px 4px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:before {
  position: relative;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  content: "";
  background-color: transparent;
  border: 2px solid #50f0ff;
  border-radius: 50%;
  display: block;
  opacity: 0.7;
}
.slick-dots li button:after {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  background-color: #50f0ff;
  border-radius: 50%;
  display: block;
  opacity: 0;
  transition: 0.2s ease-out;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:after,
.slick-dots li button:focus:after {
  opacity: 1;
}

.slick-dots li.slick-active button:after {
  opacity: 1;
}

/* glass_v2 */
.glass_v2 {
  position: relative;
  min-width: 100px;
  min-height: 100px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 2em;
  background: linear-gradient(235deg, rgba(25, 4, 218, 0.18), rgba(25, 4, 218, 0) 33%), linear-gradient(45deg, rgba(80, 240, 255, 0.18), rgba(80, 240, 255, 0) 33%), linear-gradient(rgba(10, 11, 35, 0.45));
  backdrop-filter: blur(12px);
  box-shadow: rgba(80, 240, 255, 0.08) 0px 8px 12px -6px, rgba(80, 240, 255, 0.12) 0px 16px 24px -10px, inset 0 1px 0 rgba(25, 4, 218, 0.4), inset 1px 0 0 rgba(25, 4, 218, 0.3), inset 0 0 0 0.5px rgba(255, 255, 255, 0.1);
}
.glass_v2::before {
  content: "";
  pointer-events: none;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 50%;
  height: 50%;
  border-radius: 0;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border: 1px solid transparent;
  z-index: 1;
  background: conic-gradient(from -45deg at center in oklch, transparent 8%, rgba(25, 4, 218, 0.5), transparent 45%) border-box;
  mask: linear-gradient(transparent), linear-gradient(black);
  mask-repeat: no-repeat;
  mask-clip: padding-box, border-box;
  mask-composite: subtract;
}
.glass_v2::after {
  content: "";
  pointer-events: none;
  position: absolute;
  left: -1px;
  bottom: -1px;
  width: 25%;
  height: 25%;
  border-radius: 0;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border: 1px solid transparent;
  z-index: 1;
  background: conic-gradient(from 135deg at center in oklch, transparent 15%, rgba(80, 240, 255, 0.15), transparent 30%) border-box;
  mask: linear-gradient(transparent), linear-gradient(black);
  mask-repeat: no-repeat;
  mask-clip: padding-box, border-box;
  mask-composite: subtract;
}
.glass_v2 .glow_topright {
  pointer-events: none;
  position: absolute;
  right: -12px;
  top: -12px;
  width: 40%;
  height: 40%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 12px solid transparent;
  opacity: 0.7;
  filter: blur(8px) saturate(1.2) brightness(0.7);
  mix-blend-mode: plus-lighter;
  z-index: 3;
}
.glass_v2 .glow_topright::before {
  content: "";
  position: absolute;
  inset: 0;
  border: inherit;
  border-radius: inherit;
  background: conic-gradient(from -45deg at center in oklch, transparent 5%, rgba(25, 4, 218, 0.4), transparent 40%) border-box;
  mask: linear-gradient(transparent), linear-gradient(black);
  mask-repeat: no-repeat;
  mask-clip: padding-box, border-box;
  mask-composite: subtract;
}
.glass_v2 .glow_topright::after {
  content: "";
  position: absolute;
  inset: -3px;
  border: 18px solid transparent;
  border-radius: 25px;
  z-index: 4;
  opacity: 0.5;
  background: conic-gradient(from -45deg at center in oklch, transparent 8%, rgba(25, 4, 218, 0.6), transparent 35%) border-box;
  mask: linear-gradient(transparent), linear-gradient(black);
  mask-repeat: no-repeat;
  mask-clip: padding-box, border-box;
  mask-composite: subtract;
}
.glass_v2 .glow_bottomleft {
  pointer-events: none;
  position: absolute;
  left: -4px;
  bottom: -4px;
  width: 20%;
  height: 20%;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 4px solid transparent;
  opacity: 0.2;
  filter: blur(6px) saturate(1) brightness(0.4);
  mix-blend-mode: plus-lighter;
  z-index: 3;
}
.glass_v2 .glow_bottomleft::before {
  content: "";
  position: absolute;
  inset: 0;
  border: inherit;
  border-radius: inherit;
  background: conic-gradient(from 135deg at center in oklch, transparent 12%, rgba(80, 240, 255, 0.15), transparent 28%) border-box;
  mask: linear-gradient(transparent), linear-gradient(black);
  mask-repeat: no-repeat;
  mask-clip: padding-box, border-box;
  mask-composite: subtract;
}
.glass_v2 .glow_bottomleft::after {
  content: "";
  position: absolute;
  inset: -1px;
  border: 6px solid transparent;
  border-radius: 18px;
  z-index: 4;
  opacity: 0.15;
  background: conic-gradient(from 135deg at center in oklch, transparent 15%, rgba(80, 240, 255, 0.25), transparent 25%) border-box;
  mask: linear-gradient(transparent), linear-gradient(black);
  mask-repeat: no-repeat;
  mask-clip: padding-box, border-box;
  mask-composite: subtract;
}
.glass_v2.light_glass {
  background: linear-gradient(235deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3) 33%), linear-gradient(45deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2) 33%), linear-gradient(rgba(255, 255, 255, 0.25));
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #031730;
}

/* hubspot_form_wrap */
.hubspot_form_wrap {
  padding-top: 20px;
  padding-bottom: 35px;
  position: relative;
  z-index: 5;
}
.hubspot_form_wrap * {
  font-family: "Inter", sans-serif;
}

/* hubspot form styles */
.hs-form .hs-form-field {
  text-align: left;
}

.hs-form .hs-form-required {
  opacity: 0.5;
  padding-left: 0.2em;
}

.hs-form label {
  font-size: 14px;
  font-weight: 400;
}

.hs-form input[type=text], .hs-form input[type=password], .hs-form input[type=datetime], .hs-form input[type=datetime-local], .hs-form input[type=date], .hs-form input[type=month], .hs-form input[type=time], .hs-form input[type=week], .hs-form input[type=number], .hs-form input[type=email], .hs-form input[type=url], .hs-form input[type=search], .hs-form input[type=tel], .hs-form input[type=color], .hs-form input[type=file], .hs-form textarea, .hs-form select {
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1 !important;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.hs-form input[type=file] {
  border: 0px;
  padding: 0px;
}

.hs-form input[type=text]:focus, .hs-form input[type=password]:focus, .hs-form input[type=datetime]:focus, .hs-form input[type=datetime-local]:focus, .hs-form input[type=date]:focus, .hs-form input[type=month]:focus, .hs-form input[type=time]:focus, .hs-form input[type=week]:focus, .hs-form input[type=number]:focus, .hs-form input[type=email]:focus, .hs-form input[type=url]:focus, .hs-form input[type=search]:focus, .hs-form input[type=tel]:focus, .hs-form input[type=color]:focus, .hs-form input[type=file]:focus, .hs-form textarea:focus, .hs-form select:focus {
  border: 1px solid #08b1d5;
  outline: 0;
}

.hs-form textarea:focus {
  border: 1px solid #08b1d5;
  outline: 0;
}

.hs-form input:focus:required:invalid:focus,
.hs-form textarea:focus:required:invalid:focus,
.hs-form select:focus:required:invalid:focus {
  border: 1px solid #08b1d5;
  outline: 0;
}

.hs-form .hs-error-msgs {
  list-style-type: none;
  padding-left: 0px;
  margin: 5px 0 0 0;
  font-size: 14px;
}

.hs-form .hs-error-msgs label {
  color: #ff445f;
  font-weight: normal;
  font-size: 90%;
}

.hs-form .hs-recaptcha {
  margin-bottom: 20px;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-moz-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

.hs-form fieldset.form-columns-0, .hs-form fieldset.form-columns-1, .hs-form fieldset.form-columns-2 {
  margin-bottom: 0px;
  max-width: 100%;
}

.hs-form fieldset.form-columns-3 {
  display: none;
}

.hs-form .field {
  margin-bottom: 20px;
}

body .hs-form fieldset.form-columns-1 .hs-input {
  width: 100%;
}

.hs-form .hs_submit {
  text-align: center;
}

.hs-form .hs-richtext {
  margin-bottom: 20px;
}

.hs-form .hs-richtext span {
  background-color: transparent !important;
}

.hs-form .hs-richtext a {
  color: #50f0ff;
}

.hs-form .hs-recaptcha {
  visibility: hidden;
  position: absolute;
}

.hs-form .hs-fieldtype-textarea {
  min-height: 6em;
}

.hs-form .hs-field-desc {
  font-size: 14px;
  margin-bottom: 10px;
}

.hs-button.primary {
  background-color: #50f0ff;
  border-color: #50f0ff;
  color: #031730;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 15px;
}

/* ff fix */
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
/* trivy homepage */
.trivy_v1_homepage_wrap {
  position: relative;
  z-index: 3;
  /* homepage_community */
}
.trivy_v1_homepage_wrap * {
  transition: all 0.2s ease !important;
}
.trivy_v1_homepage_wrap .hero_wrap {
  background-color: #0a0b23;
  background-image: radial-gradient(1600px at 70% 120%, #031145 10%, #0a0b23 100%);
  min-height: 1050px;
  position: relative;
  z-index: 10;
}
.trivy_v1_homepage_wrap .hero_wrap .homepage_background_image_wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.trivy_v1_homepage_wrap .hero_wrap .homepage_background_image_wrap .stars_wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.trivy_v1_homepage_wrap .hero_wrap .homepage_background_image_wrap .stars_wrap .stars_bg {
  position: absolute;
  width: 400vw;
  height: 400vh;
  top: 50%;
  left: 50%;
  margin-top: -200vh;
  margin-left: -200vw;
  animation: stars_ani 240s linear infinite;
  background-size: 240px;
  backface-visibility: visible;
  background-image: url(../images/homepage_hero_stars_02.svg);
  background-repeat: repeat;
}
@keyframes stars_ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.trivy_v1_homepage_wrap .hero_wrap .homepage_background_image_wrap .terrain_wrap {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 680px;
  background-image: url(../images/homepage_hero_terrain_08.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: 2;
}
.trivy_v1_homepage_wrap .hero_wrap .homepage_background_image_wrap .beams_wrap {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
}
.trivy_v1_homepage_wrap .hero_wrap .homepage_background_image_wrap .beams_wrap .beam {
  position: absolute;
  right: 200px;
  top: 270px;
  width: 3px;
  height: 350%;
  background: rgba(62, 171, 255, 0.6);
  box-shadow: 0px 0px 55px 0px #3eabff;
  transform-origin: 0 0;
  animation: beam_ani 10s infinite;
}
.trivy_v1_homepage_wrap .hero_wrap .homepage_background_image_wrap .beams_wrap .beam.num2 {
  animation: beam_ani 11s infinite;
}
.trivy_v1_homepage_wrap .hero_wrap .homepage_background_image_wrap .beams_wrap .beam.num3 {
  animation: beam_ani 12s infinite;
}
.trivy_v1_homepage_wrap .hero_wrap .homepage_background_image_wrap .beams_wrap .beam.num4 {
  animation: beam_ani 13s infinite;
}
@keyframes beam_ani {
  0% {
    transform: rotate(75deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(75deg);
  }
}
.trivy_v1_homepage_wrap .hero_wrap .homepage_background_image_wrap .beams_wrap .sphere {
  z-index: 999;
  position: absolute;
  top: 60px;
  right: 50px;
  width: 280px;
  height: 280px;
  background-image: url(../images/homepage_hero_orb_03.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.trivy_v1_homepage_wrap .hero_wrap .homepage_background_image_wrap .person_wrap {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 595px;
  background-image: url(../images/homepage_v1_hero_person_01.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 4;
}
.trivy_v1_homepage_wrap .hero .hero-body {
  padding: 80px 0px;
}
.trivy_v1_homepage_wrap .hero .hero-body .header_title_wrap .header_title_content_wrap {
  width: 50%;
  position: relative;
  z-index: 3;
}
.trivy_v1_homepage_wrap .hero .hero-body .header_title_wrap .header_title_content_wrap .page_title {
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
}
.trivy_v1_homepage_wrap .hero .hero-body .header_title_wrap .header_title_content_wrap .page_subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 30px;
}
@media screen and (max-width: 1216px), print {
  .trivy_v1_homepage_wrap .hero .hero-body .header_title_wrap .header_title_content_wrap {
    width: 70%;
  }
}
@media screen and (max-width: 769px), print {
  .trivy_v1_homepage_wrap .hero .hero-body .header_title_wrap .header_title_content_wrap {
    width: 100%;
  }
  .trivy_v1_homepage_wrap .hero .hero-body .header_title_wrap .header_title_content_wrap .page_title {
    font-size: 32px;
  }
  .trivy_v1_homepage_wrap .hero .hero-body .header_title_wrap .header_title_content_wrap .page_subtitle {
    font-size: 18px;
  }
}
@media screen and (min-width: 769px), print {
  .trivy_v1_homepage_wrap .hero .hero-body {
    padding: 48px 24px;
  }
}
.trivy_v1_homepage_wrap .homepage_community_wrap {
  position: relative;
  background-color: #0a0b23;
  color: #ffffff;
  z-index: 5;
  padding-top: 60px;
  padding-bottom: 20px;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .container.wide_container {
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_titles_column {
  width: 33.3333%;
  padding-right: 32px;
}
@media screen and (max-width: 1024px), print {
  .trivy_v1_homepage_wrap .homepage_community_wrap .community_titles_column {
    width: 41.6666666667%;
  }
}
@media screen and (max-width: 769px), print {
  .trivy_v1_homepage_wrap .homepage_community_wrap .community_titles_column {
    width: 100%;
  }
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_slider_column {
  width: 66.6666%;
}
@media screen and (max-width: 1024px), print {
  .trivy_v1_homepage_wrap .homepage_community_wrap .community_slider_column {
    width: 58.3333333333%;
  }
}
@media screen and (max-width: 769px), print {
  .trivy_v1_homepage_wrap .homepage_community_wrap .community_slider_column {
    width: 100%;
  }
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_title {
  color: #50f0ff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.2;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_subtitle {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 24px;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_cta_wrap .button {
  font-weight: 700;
  margin-right: 10px;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap {
  position: relative;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes {
  column-count: 3;
  column-gap: 20px;
}
@media screen and (max-width: 1216px), print {
  .trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes {
    column-count: 2;
  }
}
@media screen and (max-width: 769px), print {
  .trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes {
    column-count: 1;
  }
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item_wrap {
  display: inline-block;
  margin: 0px 0px 20px 0px;
  width: 100%;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item {
  display: block;
  position: relative;
  color: #ffffff;
  border: 1px solid rgba(80, 240, 255, 0.2);
  background-color: rgba(80, 240, 255, 0.05);
  border-radius: 4px;
  padding: 25px;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item .quote_name {
  font-size: 16px;
  font-weight: 600;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item .quote_twitter_handle {
  opacity: 0.6;
  font-size: 13px;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item .quote_company {
  opacity: 0.6;
  font-size: 13px;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item .quote_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item .quote_avatar {
  display: block;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item.is_tweet .quote_text {
  padding-top: 10px;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item.is_tweet.has_avatar .quote_name,
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item.is_tweet.has_avatar .quote_twitter_handle {
  padding-left: 50px;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item.is_quote .quote_text {
  position: relative;
  padding-top: 40px;
  padding-bottom: 10px;
}
.trivy_v1_homepage_wrap .homepage_community_wrap .community_quotes_wrap .community_quotes .quote_item.is_quote .quote_text:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0px;
  width: 56px;
  height: 42px;
  background-image: url(../images/community_quote.png);
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 769px), print {
  .trivy_v1_homepage_wrap .homepage_community_wrap .community_title {
    font-size: 32px;
  }
  .trivy_v1_homepage_wrap .homepage_community_wrap .community_subtitle {
    font-size: 18px;
  }
}

/* trivy partners page */
.trivy_v1_homepage_wrap.partners_wrap {
  position: relative;
  z-index: 3;
  background-color: #0a0b23;
  color: #ffffff;
  padding-bottom: 80px;
}
.trivy_v1_homepage_wrap.partners_wrap .generic_title {
  color: #ffffff;
}
.trivy_v1_homepage_wrap.partners_wrap .section_title_wrap {
  position: relative;
  padding-bottom: 32px;
  padding-top: 16px;
  text-align: center;
  z-index: 1;
}
.trivy_v1_homepage_wrap.partners_wrap .section_title_wrap .section_title, .trivy_v1_homepage_wrap.partners_wrap .section_title_wrap .section_subtitle {
  position: relative;
  z-index: 2;
}
.trivy_v1_homepage_wrap.partners_wrap .section_title_wrap .section_title_icon {
  position: relative;
  z-index: 2;
  text-align: center;
}
.trivy_v1_homepage_wrap.partners_wrap .section_title_wrap .section_title_icon img {
  display: block;
  animation: float 3s ease-out infinite;
  margin: 0px auto;
}
.trivy_v1_homepage_wrap.partners_wrap .section_title_wrap .section_title_icon::after {
  content: "";
  position: relative;
  margin: 30px auto 10px auto;
  background-color: rgba(255, 255, 255, 0.1);
  width: 90px;
  display: block;
  height: 15px;
  border-radius: 50%;
  animation: shrink 3s ease-out infinite;
}
@keyframes float {
  50% {
    transform: translate(0, 10px);
  }
}
@keyframes shrink {
  0% {
    width: 80px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 80px;
  }
}
.trivy_v1_homepage_wrap.partners_wrap .section_title_wrap .section_title_icon + .section_title {
  margin-top: 0px;
}
.trivy_v1_homepage_wrap.partners_wrap .section_title_wrap::before {
  content: "";
  position: absolute;
  left: 20%;
  width: 60%;
  padding: 30% 0;
  transform: translate(0, -70%) rotate(-45deg);
  background: radial-gradient(circle at left bottom, rgba(80, 240, 255, 0.5) 10%, rgba(25, 4, 218, 0.4) 20%, rgba(10, 11, 35, 0) 60%);
  filter: blur(40px);
  z-index: 1;
  pointer-events: none;
}
.trivy_v1_homepage_wrap.partners_wrap .partners_hero_wrap {
  background-color: #0a0b23;
  background-image: radial-gradient(60vw at 50%, #031145 10%, #0a0b23 100%);
  min-height: 500px;
  position: relative;
  z-index: 10;
}
.trivy_v1_homepage_wrap.partners_wrap .partners_hero_wrap .partners_background_image_wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.trivy_v1_homepage_wrap.partners_wrap .partners_hero_wrap .partners_background_image_wrap .stars_wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.trivy_v1_homepage_wrap.partners_wrap .partners_hero_wrap .partners_background_image_wrap .stars_wrap .stars_bg {
  position: absolute;
  width: 400vw;
  height: 400vh;
  top: 50%;
  left: 50%;
  margin-top: -200vh;
  margin-left: -200vw;
  animation: stars_ani 240s linear infinite;
  background-size: 240px;
  backface-visibility: visible;
  background-image: url(../images/homepage_hero_stars_02.svg);
  background-repeat: repeat;
}
@keyframes stars_ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1024px) {
  .trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns {
    flex-direction: column;
  }
}
.trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns .header_title_content_wrap {
  width: 50%;
  position: relative;
  z-index: 3;
}
.trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns .header_title_content_wrap .page_title {
  font-size: 64px;
  margin-bottom: 0px;
}
.trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns .header_title_content_wrap.partners_hero_titles {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}
.trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns .header_title_content_wrap.partners_hero_stage_image {
  display: flex;
  align-self: center;
  justify-content: center;
}
.trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns .header_title_content_wrap.partners_hero_stage_image img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 1216px), print {
  .trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns .header_title_content_wrap {
    width: 70%;
  }
  .trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns .header_title_content_wrap .page_title {
    font-size: 48px;
  }
}
@media screen and (max-width: 769px), print {
  .trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns .header_title_content_wrap {
    width: 100%;
  }
  .trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns .header_title_content_wrap .page_title {
    font-size: 32px;
  }
  .trivy_v1_homepage_wrap.partners_wrap .hero .hero-body .header_title_wrap.with_columns .header_title_content_wrap .page_subtitle {
    font-size: 18px;
  }
}
@media screen and (min-width: 769px), print {
  .trivy_v1_homepage_wrap.partners_wrap .hero .hero-body {
    padding: 24px;
  }
}

/* logos */
.partners_logos_wrap {
  background-color: #0a0b23;
  padding: 50px 0px;
}
.partners_logos_wrap .partners_logos_title {
  text-align: center;
  color: #ffffff;
}
.partners_logos_wrap .partners_logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
}
.partners_logos_wrap .partners_logos .logo_item {
  display: inline-block;
  padding: 20px;
  margin: 0px;
}
.partners_logos_wrap .partners_logos .logo_item img {
  display: block;
  margin: 0px auto;
  width: auto;
  max-height: 115px;
  max-width: 200px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 769px) {
  .partners_logos_wrap .partners_logos {
    gap: 32px;
  }
  .partners_logos_wrap .partners_logos .logo_item img {
    max-height: 80px;
    max-width: 150px;
  }
}

/* benefits */
.partners_benefits_wrap {
  position: relative;
  z-index: 10;
  padding: 32px;
}
.partners_benefits_wrap .benefit_items {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 12px;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 1024px) {
  .partners_benefits_wrap .benefit_items {
    flex-direction: column;
  }
}
.partners_benefits_wrap .benefit_items .benefit_item {
  flex: 1;
}
.partners_benefits_wrap .benefit_items .benefit_item .benefit_icon {
  text-align: center;
}
.partners_benefits_wrap .benefit_items .benefit_item .benefit_icon img {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.partners_benefits_wrap .benefit_items .benefit_item .benefit_title {
  text-align: center;
  font-size: 32px;
}
.partners_benefits_wrap .benefit_items .benefit_item .benefit_content {
  font-size: 18px;
  line-height: 1.3;
  margin: 12px;
  text-align: center;
}

/* plans */
.partners_plans_wrap {
  position: relative;
  z-index: 10;
  padding: 32px;
}
.partners_plans_wrap .plan_items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 12px;
  position: relative;
  z-index: 5;
}
.partners_plans_wrap .plan_items .plan_item {
  padding-left: 60px;
}
.partners_plans_wrap .plan_items .plan_item .glass_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  margin: 0 12px;
  min-height: 180px;
}
.partners_plans_wrap .plan_items .plan_item .glass_content .plan_titles_wrap {
  width: 80%;
}
.partners_plans_wrap .plan_items .plan_item .glass_content .plan_titles_wrap .plan_title {
  font-size: 32px;
  margin: 12px 0px;
}
.partners_plans_wrap .plan_items .plan_item .glass_content .plan_titles_wrap .plan_subtitle {
  font-size: 26px;
  margin: 12px 0px;
}
.partners_plans_wrap .plan_items .plan_item .glass_content .plan_content {
  font-size: 20px;
  line-height: 1.3;
  margin: 12px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .partners_plans_wrap .plan_items .plan_item .glass_content {
    flex-direction: column;
    gap: 0px;
  }
  .partners_plans_wrap .plan_items .plan_item .glass_content .plan_titles_wrap {
    width: 100%;
  }
}
.partners_plans_wrap .plan_level {
  position: absolute;
  top: 10%;
  left: 24px;
  height: 80%;
  width: 20px;
  background-color: #1904da;
  border-radius: 10px;
  pointer-events: none;
  overflow: hidden;
}
.partners_plans_wrap .plan_level.level_1 {
  background-color: #ffc900;
}
.partners_plans_wrap .plan_level.level_2 {
  background-color: #ff445f;
}
.partners_plans_wrap .plan_level.level_3 {
  background-color: #08b1d5;
}
.partners_plans_wrap .plan_level::after {
  content: "";
  position: absolute;
  top: -150%;
  left: -150%;
  width: 400%;
  height: 400%;
  background: linear-gradient(-45deg, transparent 40%, rgba(255, 255, 255, 0.05) 47%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.05) 53%, transparent 60%);
  transform: rotate(-45deg);
  animation: shimmer 1.2s ease-out infinite;
  animation-delay: 2s;
  opacity: 0;
}
@keyframes shimmer {
  0% {
    transform: translateX(-120%) rotate(-45deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(120%) rotate(-45deg);
    opacity: 0;
  }
}

.partners_contact_wrap .partners_contact_title {
  text-align: center;
}
.partners_contact_wrap .contact_form_wrap {
  position: relative;
  z-index: 5;
  max-width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .partners_contact_wrap .contact_form_wrap {
    max-width: 90%;
  }
}