name: Triage Discussion
on:
  discussion:
    types: [created]
  workflow_dispatch:
    inputs:
      discussion_num:
        required: true
jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/trivy-triage
        with:
          discussion_num: ${{ github.event.inputs.discussion_num }}
